<main class="form-signin">
  <form action="/login" method="post">
    <div class="form-floating">
      <input type="text" class="form-control" id="login" name="login" placeholder="Login">
      <label for="login">Login</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="senha" id="floatingPassword" placeholder="Senha">
      <label for="floatingPassword">Senha</label>
    </div>
    <hr>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
  </form>
</main>

<button class="btn btn-link" onclick="recuperarSenha()"> Esqueci a senha </button>