<div class="form cad">
    <form action="/usuarioCreate" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label>Nome:</label><input type="text" class="form-control" name="login">
        </div>
        <div class="mb-3">
            <label>Senha</label><input type="password" class="form-control" name="senha">
        </div>
        <div class="mb-3">
            <label>Pergunta Secreta:</label><input type="text" class="form-control" name="pergunta_secreta">
        </div>
        <div class="mb-3">
            <label>Resposta:</label><input type="text" class="form-control" name="resposta_pergunta">
        </div>
        <div class="mb-3">
            <label>Avatar:</label>
            <input type="file" class="form-control" name="avatar">
        </div>
        <hr>
        <center>
            <button class="btn btn-primary" type="submit">Editar</button>
        </center>
    </form>
</div>